section {
  display: flex;
  flex-flow: row wrap;
  background-color: blue;
  
}

article {
  background-color: white;
  max-width: 33vm;
  border: solid black 2px;
  margin: 10px;
  padding: 20px;
}
  
